@font-face {
  font-family: "iranYekan";
  src: url("../fonts/iranyekan/eot/iranyekanwebregularfanum.eot") format("eot"),
  url("../fonts/iranyekan/woff/iranyekanwebregularfanum.woff") format("woff"),
  url("../fonts/iranyekan/ttf/iranyekanwebregularfanum.ttf") format("truetype");
}
tml,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
button{
  background: none;
  border: none;
  outline: none;
}
* {
  box-sizing: border-box;
}
